body{
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  margin-top: 10px;
}

.container{
  max-width: 400px;
}

.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}